body {  
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size:14px;
  font-style:normal;
  
  /* color:#9A91ff; */
  /* background-color:#00077A; */
  /* background-image:url(back.jpg); */
  /* background:url(back_new.jpg) no-repeat fixed top center; */
  /* background:url(../images/back_new.jpg) no-repeat fixed top center; */
  /* background:url(../images/back_schaf2.jpg) no-repeat fixed bottom left; */
  /* background:url(../images/back_schaf3.jpg) no-repeat fixed bottom left; */
  
  background-color:white;
  color:#555555;
  text-decoration:none; 
  line-height:normal; 
  font-weight:normal; 
  font-variant:normal; 
  text-transform:none; 
  margin-left:5%;
  margin-right:5%;
}

h1	{
  font-size:20px;
}

h2	{
  font-size:16px;
}

a 	{  
  /*nur blau */
  /* color:#80BFBF; */ 
  /* color:#4889c5; */ 
  /* color:#326a9e; */  
  
  color:#4889c5;
  font-weight:bold;
  /*nettes grün */
  /*color:#7CFC00;*/
  
  /* Nette Kombination */
  /*color:#00077A; */
  /*background-color:#eee8fd;*/
  
  /* Kein Unterstrich */
  text-decoration:none; 
  
  /*Außenabstand*/
  /*padding:2px;*/
}

a:hover {  
  background-color:#ffdeff;
  color:red;
}

a:hover.nocolor{  
  background-color:white;
  color:white;
}

.nocolor{  
  background-color:white;
  color:white;
} 

.table{
  font-size:12px; 
  vertical-align:top;
  border-width:thin;
  border-style:solid;
  border-color:blue;
  /* background-color:#EEEEEE; */
  
  /*Innenabstand*/
  padding-top:2px;
  padding-bottom:2px;
  padding-left:5px;
  padding-right:5px;
  
  /* dünne Rahmen */
  border-collapse:collapse; 
  
  /*kein Zeilenumbruch
  white-space:nowrap;*/  
}

tr:nth-child(even) {
  background-color: #D0F5A9;
}

tr:nth-child(odd) {
  background-color: #EEEEEE;
}

#footer {
  font-size:10px;
}