<!DOCTYPE html>
	<head>
		<title>Wikidata Flaw-Finder | #{{categoryID}} | To-Do</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
	  <link rel="icon" type="image/x-icon" href="favicon.ico">
	</head>
	<body>
		<h1><a href="/">Home</a> / #{{categoryID}}</h1>
		<p><b>{{categoryInfo[1]}}:</b><br>{{categoryInfo[2]}}</p>
    {% if pageContent == "To-Do": %}
		Show: <b>To-Do</b> - <a href="/whitelist/{{categoryID}}">Whitelist</a> - <a href="/delta/{{categoryID}}">Delta</a>
		<p>Here are Objects that still need to be checked.</p>
		<p><a href="/category/{{categoryID}}?offset={{offsetOptions[0]}}&orderby={{orderby}}&sort={{sort}}">←</a> {{offsetOptions[1]}} bis {{offsetOptions[2]}} <a href="/category/{{categoryID}}?offset={{offsetOptions[2]}}&orderby={{orderby}}&sort={{sort}}">→</a></p>
		<table id="flawCategoryTable" class="table">
			<tr>
				<th class="table">Wikidata-ID<a href="/category/{{categoryID}}?offset={{offset}}&orderby=wikidataID&sort=ASC">↑</a><a href="/category/{{categoryID}}?offset={{offset}}&orderby=wikidataID&sort=DESC">↓</a></th>
				<th class="table">Description<a href="/category/{{categoryID}}?offset={{offset}}&orderby=flawDescription&sort=ASC">↑</a><a href="/category/{{categoryID}}?offset={{offset}}&orderby=flawDescription&sort=DESC">↓</a></th>
				<th class="table">Resolved?</th>
				<th class="table">Whitelist</th>
			</tr>
      {%for i in range(0, len)%}
			<tr>
				<td class="table"><a href="https://www.wikidata.org/wiki/Q{{entrys[i][1]}}" target="_blank">{{entrys[i][1]}}</a></td>
				<td class="table">{{entrys[i][3]}}</td>
				<td class="table" align="middle" valign="middle"><a rel="nofollow" href="/category/{{categoryID}}?wikidataid={{entrys[i][1]}}&resolve=true">resolve</a></td>
				<td class="table" align="middle" valign="middle"><a rel="nofollow" href="/category/{{categoryID}}?wikidataid={{entrys[i][1]}}&whitelist=true&whitelistReason=">+</a></td>
			</tr>
      {%endfor%}
		</table>
		{% elif pageContent == "Whitelist": %}
		Show: <a href="/category/{{categoryID}}">To-Do</a> - <b>Whitelist</b> - <a href="/delta/{{categoryID}}">Delta</a>
		<p>Here are Objects that have been put on the whitelist by someone, because the script interpreted something as an error, where there might not have been one.</p>
		<p><a href="/whitelist/{{categoryID}}?offset={{offsetOptions[0]}}&orderby={{orderby}}&sort={{sort}}">←</a> {{offsetOptions[1]}} bis {{offsetOptions[2]}} <a href="/whitelist/{{categoryID}}?offset={{offsetOptions[2]}}&orderby={{orderby}}&sort={{sort}}">→</a></p>
		<table id="flawCategoryTable" class="table">
			<tr>
				<th class="table">Wikidata-ID<a href="/whitelist/{{categoryID}}?offset={{offset}}&orderby=wikidataID&sort=ASC">↑</a><a href="/whitelist/{{categoryID}}?offset={{offset}}&orderby=wikidataID&sort=DESC">↓</a></th>
				<th class="table">Reason<a href="/whitelist/{{categoryID}}?offset={{offset}}&orderby=whitelistReason&sort=ASC">↑</a><a href="/whitelist/{{categoryID}}?offset={{offset}}&orderby=whitelistReason&sort=DESC">↓</a></th>
				<th class="table">Remove from Whitelist</th>
			</tr>
      {%for i in range(0, len)%}
			<tr>
				<td class="table"><a href="https://www.wikidata.org/wiki/Q{{entrys[i][0]}}" target="_blank">{{entrys[i][0]}}</a></td>
				<td class="table">{{entrys[i][2]}}</td>
				<td class="table" align="middle" valign="middle"><a rel="nofollow" href="/whitelist/{{categoryID}}?wikidataid={{entrys[i][0]}}&unlist=true">-</a></td>
			</tr>
      {%endfor%}
		</table>
		{% elif pageContent == "Delta": %}
		Show: <a href="/category/{{categoryID}}">To-Do</a> - <a href="/whitelist/{{categoryID}}">Whitelist</a> - <b>Delta</b><br><br>
		<p>Here are Objects that have been put on the whitelist by someone, but no longer contain flaws. Those entrys can probably be cleaned up.</p>
		<p><a href="/delta/{{categoryID}}?offset={{offsetOptions[0]}}&orderby={{orderby}}&sort={{sort}}">←</a> {{offsetOptions[1]}} bis {{offsetOptions[2]}} <a href="/delta/{{categoryID}}?offset={{offsetOptions[2]}}&orderby={{orderby}}&sort={{sort}}">→</a></p>
		<table id="flawCategoryTable" class="table">
			<tr>
				<th class="table">Wikidata-ID<a href="/delta/{{categoryID}}?offset={{offset}}&orderby=wikidataID&sort=ASC">↑</a><a href="/delta/{{categoryID}}?offset={{offset}}&orderby=wikidataID&sort=DESC">↓</a></th>
				<th class="table">Reason<a href="/delta/{{categoryID}}?offset={{offset}}&orderby=whitelistReason&sort=ASC">↑</a><a href="/delta/{{categoryID}}?offset={{offset}}&orderby=whitelistReason&sort=DESC">↓</a></th>
				<th class="table">Resolve flaw</th>
			</tr>
      {%for i in range(0, len)%}
			<tr>
				<td class="table"><a href="https://www.wikidata.org/wiki/Q{{entrys[i][0]}}" target="_blank">{{entrys[i][0]}}</a></td>
				<td class="table">{{entrys[i][2]}}</td>
				<td class="table" align="middle" valign="middle"><a rel="nofollow" href="/delta/{{categoryID}}?wikidataid={{entrys[i][0]}}&deltaresolve=true">-</a></td>
			</tr>
      {%endfor%}
		</table>
		{% endif %}
		<div id="footer">
			<p>Wikidata Flaw-Finder | Created by <a href="https://www.wikidata.org/wiki/User:Tidoni" target="_blank">Tidoni</a> | Powered by <a href="https://tools.wmflabs.org/">Wikimedia Tool Labs</a></p>
		</div>
	</body>
</html>