<!DOCTYPE html>
	<head>
		<title>Wikidata Flaw-Finder | Home</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
	  <link rel="icon" type="image/x-icon" href="favicon.ico">
	</head>
	<body>
		<h1><a href="/">Home</a></h1>
		<p>This Page contains a List of <i>flaws</i> found in Wikidata-Items.<br>The potential problems are grouped into different categories, as shown below.</p>
		<table id="flawCategoryTable" class="table">
			<tr>
				<th class="table">ID</th>
				<th class="table">Name</th>
				<th class="table">Number of Entrys</th>
			</tr>
      {%for i in range(0, len)%}
			<tr>
				<td class="table">{{entry[i][0]}}</td>
				<td class="table"><a href="/category/{{entry[i][0]}}">{{entry[i][1]}}</a></td>
				<td class="table" align="right" valign="middle">{{entryCounter[i]}}</td>
			</tr>
      {%endfor%}
		</table>
		<div id="footer">
			<p>Wikidata Flaw-Finder | Created by <a href="https://www.wikidata.org/wiki/User:Tidoni" target="_blank">Tidoni</a> | Powered by <a href="https://tools.wmflabs.org/">Wikimedia Tool Labs</a></p>
		</div>
	</body>
</html>